@media screen and (max-width: 480px) {
    body {
        width: auto;
        height: auto;
        margin: 20px;
    }

    .row {
        flex-direction: column;
    }

    .col {
        height: auto;
        padding-bottom: 50px;
    }

    .one {
        border-radius: 10px 10px 0 0;
    }

    .three {
        border-radius: 0 0 10px 10px;
    }

    p{
        margin-bottom: 30px;
    }

    a {
        position: unset;
    }

}